<h1>Formulario</h1>
{{ [1, 2].reverse() }}
<form (ngSubmit)="onRegister()" #formRegister="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input
      required
      type="text"
      [(ngModel)]="register.name"
      #frmRegName="ngModel"
      id="name"
      name="name"
    />
    <p
      [ngClass]="{ invalid: frmRegName.invalid && frmRegName.touched }"
      class="message-error"
    >
      el campo es requerido
    </p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input
      required
      type="text"
      [(ngModel)]="register.email"
      #frmRegEmail="ngModel"
      id="email"
      name="email"
    />
    <p
      [ngClass]="{ invalid: frmRegEmail.invalid && frmRegEmail.touched }"
      class="message-error"
    >
      el campo es requerido
    </p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      required
      type="password"
      [(ngModel)]="register.password"
      #frmRegPassword="ngModel"
      id="password"
      name="password"
    />
    <p
      [ngClass]="{ invalid: frmRegPassword.invalid && frmRegPassword.touched }"
      class="message-error"
    >
      el campo es requerido
    </p>
  </div>
  <button type="submit" [disabled]="formRegister.invalid">Registrar</button>
</form>

<h1>Ngclass & NgStyle</h1>
<input type="text" required [(ngModel)]="person.name" #inputName="ngModel" />
<hr
  class="line-error"
  [ngClass]="{ valid: inputName.valid, invalid: inputName.invalid }"
/>
<p [class.invalid]="inputName.invalid" class="message-error">
  el campo es requerido
</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div
      [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        display: 'block'
      }"
    ></div>
  </div>
</div>

<h1>NgSwitch</h1>
<div [ngSwitch]="person.name">
  <div *ngSwitchCase="'miguel'">Bienvenido miguel</div>
  <div *ngSwitchCase="'raul'">Bienvenido Raul</div>
  <div *ngSwitchDefault>Bienvenido invitado</div>
</div>

<h1>NgFor Objetos</h1>
<div class="product--grid">
  <div *ngFor="let product of products">
    <span>{{ product.name }}</span> -
    <span>{{ product.price }}</span>
  </div>
</div>

<hr />

<h1>Ngfor</h1>
<input type="text" [(ngModel)]="newName" (keyup.enter)="addName()" />
<ul>
  <li *ngIf="names.length === 0">No hay inscritos</li>
  <li *ngFor="let name of names; let idx = index">
    {{ idx }}-{{ name }} - <button (click)="deleteName(idx)">delete</button>
  </li>
</ul>

<h1>ngIf</h1>
<input type="text" [(ngModel)]="person.name" />
<ng-container *ngIf="person.name === 'miguel'; else otroNombre">
  <p>Hola {{ person.name }}</p>
</ng-container>

<ng-template #otroNombre>
  <p>No tienes credenciales de acceso</p>
</ng-template>

<h1>NgModel</h1>
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<input
  type="number"
  min="10"
  max="18"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad: {{ person.age }}</p>
<button (click)="incresseAge()">Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nulla obcaecati
    ut consectetur beatae quia voluptas exercitationem necessitatibus, maiores
    nam vel, dolorem eveniet explicabo eius earum, molestias dolor ad alias.
    Aspernatur illo autem ea labore, aut ab maxime, vel exercitationem,
    repellendus placeat dolores ad in molestias blanditiis? Necessitatibus
    tempora neque quo cumque porro error sit natus, animi accusamus quae
    assumenda. Quo eveniet alias iusto non deserunt ipsum molestias maiores
    quidem! Officiis ab saepe magnam, doloremque ipsum asperiores itaque minus
    iste nulla veritatis velit delectus ratione aliquam repellat accusantium
    incidunt. Dolores. Corporis repellat cum excepturi autem laborum quisquam
    quae magnam obcaecati neque quod veritatis fuga inventore odit itaque,
    fugiat sint possimus rem dolores cupiditate illum quasi. Quam adipisci rerum
    provident eligendi. Unde laborum porro fugit at dicta, eum libero. Tempore
    sequi perferendis maxime unde commodi? Aliquid quo ipsa, facilis minima quae
    delectus nulla cupiditate perferendis facere eaque doloribus, praesentium,
    omnis aliquam. Praesentium facere error itaque, architecto, commodi,
    veritatis tempore illo saepe quam corrupti omnis magnam ratione nam
    consequuntur rerum? Beatae amet atque est illum laboriosam voluptate
    laudantium reiciendis id? Blanditiis, alias! Sunt architecto voluptate
    maxime dolor exercitationem distinctio est suscipit nemo consequuntur neque
    laudantium, hic porro ullam alias officia, fugiat, aspernatur in repudiandae
    quam odit consequatur deserunt vel! Consectetur, magni ipsum. Excepturi
    eligendi dolor temporibus a voluptatem! Nostrum quia ullam inventore magni
    fuga recusandae deserunt consequuntur non molestiae minima, alias similique,
    sequi, esse sint dolorem sed quaerat ea qui! Possimus, impedit. Blanditiis
    quia architecto, odio incidunt laudantium, consequatur ad consequuntur
    ratione debitis hic repellat quis omnis id perferendis odit. Amet at
    explicabo omnis laborum a, nam iure cum molestias error porro! Alias
    praesentium veniam sapiente necessitatibus exercitationem pariatur.
    Officiis, fugit. Ratione magnam voluptates, cum architecto placeat
    reprehenderit quae error accusantium officiis atque similique, consequatur
    fuga accusamus molestiae aut quos qui quia?
  </p>
</div>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<br />
<p>Nombre: {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="" width="100" />
<hr />
{{ title.repeat(3) }}
<img [src]="image" alt="" width="300" />
<router-outlet></router-outlet>
